*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ROOT */
:root {
  /* Primary */
--Orange: hsl(26, 100%, 55%);
--Pale-orange: hsl(25, 100%, 94%);

/* Neutral */
--Very-dark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
--Black/* (with 75% opacity for lightbox background) */: hsl(0, 0%, 0%);
}

/* HEADER SECTION */
header {
    display: flex;
    justify-content: space-between;
    margin-left: 1.5rem;
    border-bottom: var(--Light-grayish-blue) 3px solid;
    margin-bottom: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;    
  }
.numbers{
    background-color: var(--Orange);
    color: white;
    width: 1.7rem;
    padding: 0.3rem;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 2.8rem;
    display: none;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
li {
    list-style-type: none;
  }
ul {
    display: flex;
    gap: 1rem;

  }
.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
  }
#avatar {
    height: 7vh; 
 }

/* IMAGES */
.main_images> .usable_image{
  display: none;
}
.images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_images> .mainImage {
  display: inline;
    height: 55vh;
    width: 25rem;
    border-radius: 0.5rem;
    margin-bottom: 1.2rem;
  }
  .thumbnail {
    width: 5rem;
    height: 15vh;
    border-radius: 1rem;
    margin-right: 1rem;

  }
.thumbnail_img{
  margin-left: 1rem;
}
.styled-border{
  border: 2px var(--Orange) solid;
}


/* TEXT SECTION */
main {
  display: flex;
  align-items: center;
  justify-content: center;
/*  margin: 0 15% 0 15%;  */
  gap: 5rem;
  
}
.company_profile > h1 {
  margin: 1rem 0rem 1.5rem 0rem;
  font-size: 2.5rem;
}
.text{
  padding-bottom: 3rem;
  width: 70ch;
}
.company_profile>h4{
  color: var(--Orange);
  font-weight: bold
}
.sneakers_desc {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: var(--Dark-grayish-blue);
}
.pricing {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
.pricing>h4{
  color: var(--Orange);
  background-color: var(--Pale-orange);
  padding: 0rem 0.2rem 0rem 0.2rem;
  border-radius: 0.2rem;
}
#old_price {
  text-decoration: line-through;
  font-weight: 900;
  color: var(--Dark-grayish-blue);
  margin-top: 0.2rem;
  margin-bottom: 1.5rem;
}
.amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem 0rem 1rem;
  gap: 2.5rem; 
  background-color: var(--Light-grayish-blue);
  border-radius: 0.5rem;
}
.cart {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 0.5rem;
  background-color: var(--Orange);
  font-weight: bold;
}
.carting{
  display: flex;
  gap: 1rem;
  
}

/* PURCHASE ITEMS IN CART LIST */
.cartitems {
  position:absolute;
  display: none;
  background-color: white;
  top: 3.5rem;
  right: 1.3rem;
  width: 25%;
  border: var(--Light-grayish-blue) 2px solid;
  border-radius: 0.5rem;
  box-shadow: 2px 5px 10px 4px var(--Grayish-blue);
}
.cartList {
  padding: 1rem; 
  text-align: center;
}
.cartitems > h2 {
  border-bottom: var(--Grayish-blue) solid 1px;
  padding: 0.8rem;
}
.cartList {
  /* display: grid; */
  /* column-gap: 1rem 0.2rem; */
}
.cartListImg {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  width: 4rem;
  height: 11vh;
  border-radius: 0.5rem;
}
.Checks {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.none{
  display: none;
}
.Checks>h4{
  text-wrap: nowrap;
  margin-bottom: 0.3rem;
}
.Checks>div>h4{
  margin-bottom: 0.3rem;
}
.Checks>div{
  text-align: left;
}
#breakdown > img {
  height: 10px;
}
#delete {
  grid-column-start: 9;
  grid-column-end: 10;
}
#Checkout {
/*   grid-column-start: 1;
  grid-column-end: 10; */
  background: orange;
  padding: 1rem;
  border-radius: 0.5rem;
  display: none;
}
.Total{
  font-weight: bold;
  margin-left: 0.5rem;
}
.highlightedImage{
  /* display: flex;
  flex-direction: column; */
 position: absolute; 
  /* justify-content: center;
  align-items: center; */
  left: 30%;
  top: 12%;
  display: flex;   
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.highlightedImage>.main_images>#mainImage{
  width: 30rem;
  height: 68vh;
  
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgb(104, 112, 125, 0.5);
  
}
.betterAlign {
  margin-bottom: 5rem;
  background-color: white;
  padding: 1rem;
  border-radius: 49%;
}

.product-details{
  display: none;
  align-items: center;

}
.emptyBasket{
  margin: 2rem;
}
